In [14]:
import pyspark
import pyspark
from pyspark.sql import SparkSession
import os

## DEFINE SENSITIVE VARIABLES
NESSIE_URI = "http://nessie:19120/api/v1"
MINIO_ACCESS_KEY = "admin"
MINIO_SECRET_KEY = "password"



conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
  		#packages
        .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.3_2.12:1.3.1,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.3_2.12:0.67.0,software.amazon.awssdk:bundle:2.17.178,software.amazon.awssdk:url-connection-client:2.17.178')
  		#SQL Extensions
        .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
  		#Configuring Catalog
        .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
        .set('spark.sql.catalog.nessie.uri', NESSIE_URI)
        .set('spark.sql.catalog.nessie.ref', 'main')
        .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
        .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
        .set('spark.sql.catalog.nessie.warehouse', 's3a://warehouse')
        .set('spark.sql.catalog.nessie.s3.endpoint', 'http://minio:9000')
        .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')
  		#MINIO CREDENTIALS
        .set('spark.hadoop.fs.s3a.access.key', MINIO_ACCESS_KEY)
        .set('spark.hadoop.fs.s3a.secret.key', MINIO_SECRET_KEY)
)

## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

## LOAD A CSV INTO AN SQL VIEW
csv_df = spark.read.format("csv").option("header", "true").load("../datasets/df_open_2023.csv")
csv_df.createOrReplaceTempView("csv_open_2023")

## CREATE AN ICEBERG TABLE FROM THE SQL VIEW
spark.sql("CREATE TABLE IF NOT EXISTS nessie.df_open_2023_lesson3 USING iceberg PARTITIONED BY (countryOfOriginCode) AS SELECT * FROM csv_open_2023 ORDER BY countryOfOriginCode;").show()

## ALTER PARTITIONING BASED ON TRUNCATE FIRST LETTER OF firstName
spark.sql("ALTER TABLE nessie.df_open_2023_lesson3 ADD PARTITION FIELD truncate(1, firstName)").show()

## REWRITE ALL THE DATA SO IT ALL USES UPDATED PARTITONING
spark.sql("CALL nessie.system.rewrite_data_files('df_open_2023_lesson3')").show()

Spark Running
++
||
++
++

IllegalArgumentException: Cannot add duplicate partition field null=truncate[1](ref(name="firstName")), conflicts with 1001: firstName_trunc_1: truncate[1](3)

In [15]:
spark.sql("SELECT * FROM nessie.df_open_2023_lesson3").show()

+------------+-------------------+-------------+------------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|competitorId|     competitorName|    firstName|    lastName|status|gender|countryOfOriginCode|countryOfOriginName|regionId|regionName|affiliateId|       affiliateName|age|height|weight|overallRank|overallScore|genderId|year|
+------------+-------------------+-------------+------------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|      455113|      Harmeet Singh|      Harmeet|       Singh|   ACT|     M|                 IN|              India|      28|      Asia|      19739|        CrossFit BFG| 37|180 cm| 78 kg|      16500|       92381|      18|2023|
|     1116202|    Himanshu Mittal|     Himanshu|      Mittal|   ACT|     M|                 IN|              India|      28|      Asia|        932|      CrossFit Edina| 35|  null|  null|      60724|      258810|      18|2023|
|     1513429|     Harish Kannuri|       Harish|     Kannuri|   ACT|     M|                 IN|              India|      28|      Asia|       4259|Thomasville CrossFit| 29|  null|  null|      71214|      293577|       1|2023|
|     2097777|  Hareesh Ravindran|      Hareesh|   Ravindran|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 31|179 cm| 66 kg|      81858|      326985|       1|2023|
|     2510336|      Harsh Khaneja|        Harsh|     Khaneja|   ACT|     M|                 IN|              India|      28|      Asia|      19595|Reebok CrossFit G...| 37|  null|  null|      87058|      343228|      18|2023|
|     2255141|    Hemanth Kommuru|      Hemanth|     Kommuru|   ACT|     M|                 IN|              India|      28|      Asia|       9191|    CrossFit Almaden| 40|186 cm|191 lb|      88714|      348475|      12|2023|
|     1995576|  Harmanpreet Singh|  Harmanpreet|       Singh|   ACT|     M|                 IN|              India|      28|      Asia|      18301|     Plus64 CrossFit| 30|  null|  null|     113295|      426761|       1|2023|
|     2241980|    Harish Ponnappa|       Harish|    Ponnappa|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 46|168 cm| 75 kg|     117200|      439650|       3|2023|
|     2513338|        Hrishi Dave|       Hrishi|        Dave|   ACT|     M|                 IN|              India|      28|      Asia|       7969|CrossFit Life Per...| 31|  null|  null|     117666|      441239|       1|2023|
|     2452209|    Husein Khambata|       Husein|    Khambata|   ACT|     M|                 IN|              India|      28|      Asia|      23585|  Tech City CrossFit| 26|  null|  null|     122359|      456795|       1|2023|
|     1705613|  Hemanth Dharavath|      Hemanth|   Dharavath|   ACT|     M|                 IN|              India|      28|      Asia|      10183|        CrossFit 190| 30|  null|  null|     124482|      464037|       1|2023|
|     2422962|        Harsh Patel|        Harsh|       Patel|   ACT|     M|                 IN|              India|      28|      Asia|      21228|  CrossFit Severance| 28|  null|  null|     125502|      467369|       1|2023|
|     1499369|Hardeep Singh Sohee|Hardeep Singh|       Sohee|   ACT|     M|                 IN|              India|      28|      Asia|      16015|       CrossFit Pyro| 36| 65 in|  null|     125628|      467902|      18|2023|
|     1763779|Harsha Katakamsethy|       Harsha|Katakamsethy|   ACT|     M|                 IN|              India|      28|      Asia|        841|  CrossFit One World| 34|  null|  null|     133057|      496066|       1|2023|
|     1613672|   Harshad Nigudkar|      Harshad|    Nigudkar|   ACT|     M|                 IN|              India|      28|      Asia|      10324|     CrossFit Lutece| 40|173 cm| 70 kg|     133684|      498422|      12|2023|
|     1873044| Harikrishna Prabhu|  Harikrishna|      Prabhu|   ACT|     M|                 IN|              India|      28|      Asia|      22708|       CrossFit Mend| 29|181 cm| 84 kg|     135126|      504347|       1|2023|
|     2415014|     Harikumar Suma|    Harikumar|        Suma|   ACT|     M|                 IN|              India|      28|      Asia|      22846|       CrossFit Jena| 31| 74 in|114 kg|     147584|      547078|       1|2023|
|     2499760|       Harsha Gedda|       Harsha|       Gedda|   ACT|     M|                 IN|              India|      28|      Asia|       1697|  CrossFit Green Bay| 31|  null|  null|     148246|      549168|       1|2023|
|     2489137|     Hitesh Nagothu|       Hitesh|     Nagothu|   ACT|     M|                 IN|              India|      28|      Asia|       8378|        CrossFit 630| 28|  null|  null|     151857|      561421|       1|2023|
|     2386216|       Hitesh Bahar|       Hitesh|       Bahar|   ACT|     M|                 IN|              India|      28|      Asia|      13258|    Pullman CrossFit| 30|  null|  null|     153545|      567296|       1|2023|
+------------+-------------------+-------------+------------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
only showing top 20 rows

In [16]:
spark.sql("CREATE VIEW top_ten AS SELECT * FROM nessie.df_open_2023_lesson3 LIMIT 10").show()

AnalysisException: View `default`.`top_ten` already exists. If you want to update the view definition, please use ALTER VIEW AS or CREATE OR REPLACE VIEW AS

In [5]:
spark.sql("SELECT * FROM top_ten").show()

+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|competitorId|   competitorName|  firstName| lastName|status|gender|countryOfOriginCode|countryOfOriginName|regionId|regionName|affiliateId|       affiliateName|age|height|weight|overallRank|overallScore|genderId|year|
+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|      455113|    Harmeet Singh|    Harmeet|    Singh|   ACT|     M|                 IN|              India|      28|      Asia|      19739|        CrossFit BFG| 37|180 cm| 78 kg|      16500|       92381|      18|2023|
|     1116202|  Himanshu Mittal|   Himanshu|   Mittal|   ACT|     M|                 IN|              India|      28|      Asia|        932|      CrossFit Edina| 35|  null|  null|      60724|      258810|      18|2023|
|     1513429|   Harish Kannuri|     Harish|  Kannuri|   ACT|     M|                 IN|              India|      28|      Asia|       4259|Thomasville CrossFit| 29|  null|  null|      71214|      293577|       1|2023|
|     2097777|Hareesh Ravindran|    Hareesh|Ravindran|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 31|179 cm| 66 kg|      81858|      326985|       1|2023|
|     2510336|    Harsh Khaneja|      Harsh|  Khaneja|   ACT|     M|                 IN|              India|      28|      Asia|      19595|Reebok CrossFit G...| 37|  null|  null|      87058|      343228|      18|2023|
|     2255141|  Hemanth Kommuru|    Hemanth|  Kommuru|   ACT|     M|                 IN|              India|      28|      Asia|       9191|    CrossFit Almaden| 40|186 cm|191 lb|      88714|      348475|      12|2023|
|     1995576|Harmanpreet Singh|Harmanpreet|    Singh|   ACT|     M|                 IN|              India|      28|      Asia|      18301|     Plus64 CrossFit| 30|  null|  null|     113295|      426761|       1|2023|
|     2241980|  Harish Ponnappa|     Harish| Ponnappa|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 46|168 cm| 75 kg|     117200|      439650|       3|2023|
|     2513338|      Hrishi Dave|     Hrishi|     Dave|   ACT|     M|                 IN|              India|      28|      Asia|       7969|CrossFit Life Per...| 31|  null|  null|     117666|      441239|       1|2023|
|     2452209|  Husein Khambata|     Husein| Khambata|   ACT|     M|                 IN|              India|      28|      Asia|      23585|  Tech City CrossFit| 26|  null|  null|     122359|      456795|       1|2023|
+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+

In [11]:
spark.sql("CREATE TABLE IF NOT EXISTS nessie.top_ten USING iceberg AS SELECT * FROM top_ten ORDER BY lastName").show()

++
||
++
++

In [13]:
spark.sql("SELECT * FROM nessie.top_ten").show()

+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|competitorId|   competitorName|  firstName| lastName|status|gender|countryOfOriginCode|countryOfOriginName|regionId|regionName|affiliateId|       affiliateName|age|height|weight|overallRank|overallScore|genderId|year|
+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|     2513338|      Hrishi Dave|     Hrishi|     Dave|   ACT|     M|                 IN|              India|      28|      Asia|       7969|CrossFit Life Per...| 31|  null|  null|     117666|      441239|       1|2023|
|     1513429|   Harish Kannuri|     Harish|  Kannuri|   ACT|     M|                 IN|              India|      28|      Asia|       4259|Thomasville CrossFit| 29|  null|  null|      71214|      293577|       1|2023|
|     2452209|  Husein Khambata|     Husein| Khambata|   ACT|     M|                 IN|              India|      28|      Asia|      23585|  Tech City CrossFit| 26|  null|  null|     122359|      456795|       1|2023|
|     2510336|    Harsh Khaneja|      Harsh|  Khaneja|   ACT|     M|                 IN|              India|      28|      Asia|      19595|Reebok CrossFit G...| 37|  null|  null|      87058|      343228|      18|2023|
|     2255141|  Hemanth Kommuru|    Hemanth|  Kommuru|   ACT|     M|                 IN|              India|      28|      Asia|       9191|    CrossFit Almaden| 40|186 cm|191 lb|      88714|      348475|      12|2023|
|     1116202|  Himanshu Mittal|   Himanshu|   Mittal|   ACT|     M|                 IN|              India|      28|      Asia|        932|      CrossFit Edina| 35|  null|  null|      60724|      258810|      18|2023|
|     2241980|  Harish Ponnappa|     Harish| Ponnappa|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 46|168 cm| 75 kg|     117200|      439650|       3|2023|
|     2097777|Hareesh Ravindran|    Hareesh|Ravindran|   ACT|     M|                 IN|              India|      28|      Asia|      22847|    I Think CrossFit| 31|179 cm| 66 kg|      81858|      326985|       1|2023|
|      455113|    Harmeet Singh|    Harmeet|    Singh|   ACT|     M|                 IN|              India|      28|      Asia|      19739|        CrossFit BFG| 37|180 cm| 78 kg|      16500|       92381|      18|2023|
|     1995576|Harmanpreet Singh|Harmanpreet|    Singh|   ACT|     M|                 IN|              India|      28|      Asia|      18301|     Plus64 CrossFit| 30|  null|  null|     113295|      426761|       1|2023|
+------------+-----------------+-----------+---------+------+------+-------------------+-------------------+--------+----------+-----------+--------------------+---+------+------+-----------+------------+--------+----+