In [5]:
import pyspark
import pyspark
from pyspark.sql import SparkSession
import os

# ## DEFINE SENSITIVE VARIABLES
# NESSIE_URI = "http://nessie:19120/api/v1"
# MINIO_ACCESS_KEY = "admin"
# MINIO_SECRET_KEY = "password"



conf = (
    pyspark.SparkConf()
        .setAppName('app_name')
  		#packages
#         .set('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.3_2.12:1.3.1,org.projectnessie.nessie-integrations:nessie-spark-extensions-3.3_2.12:0.67.0,software.amazon.awssdk:bundle:2.17.178,software.amazon.awssdk:url-connection-client:2.17.178')
#   		#SQL Extensions
#         .set('spark.sql.extensions', 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions')
#   		#Configuring Catalog
#         .set('spark.sql.catalog.nessie', 'org.apache.iceberg.spark.SparkCatalog')
#         .set('spark.sql.catalog.nessie.uri', NESSIE_URI)
#         .set('spark.sql.catalog.nessie.ref', 'main')
#         .set('spark.sql.catalog.nessie.authentication.type', 'NONE')
#         .set('spark.sql.catalog.nessie.catalog-impl', 'org.apache.iceberg.nessie.NessieCatalog')
#         .set('spark.sql.catalog.nessie.warehouse', 's3a://warehouse')
#         .set('spark.sql.catalog.nessie.s3.endpoint', 'http://minio:9000')
#         .set('spark.sql.catalog.nessie.io-impl', 'org.apache.iceberg.aws.s3.S3FileIO')
#   		#MINIO CREDENTIALS
#         .set('spark.hadoop.fs.s3a.access.key', MINIO_ACCESS_KEY)
#         .set('spark.hadoop.fs.s3a.secret.key', MINIO_SECRET_KEY)
)

## Start Spark Session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
print("Spark Running")

## LOAD A CSV INTO AN SQL VIEW
csv_df = spark.read.format("csv").option("header", "true").load("../datasets/df_open_2023.csv")
csv_df.createOrReplaceTempView("csv_open")

# ## CREATE AN ICEBERG TABLE FROM THE SQL VIEW
# spark.sql("CREATE TABLE IF NOT EXISTS nessie.df_open_2023_lesson3 USING iceberg PARTITIONED BY (countryOfOriginCode) AS SELECT * FROM csv_open_2023 ORDER BY countryOfOriginCode;").show()

# ## ALTER PARTITIONING BASED ON TRUNCATE FIRST LETTER OF firstName
# spark.sql("ALTER TABLE nessie.df_open_2023_lesson3 ADD PARTITION FIELD truncate(1, firstName)").show()

# ## REWRITE ALL THE DATA SO IT ALL USES UPDATED PARTITONING
# spark.sql("CALL nessie.system.rewrite_data_files('df_open_2023_lesson3')").show()

Spark Running

In [6]:
csv_df.show()

+------------+-----------------+---------+-----------+------+------+-------------------+-------------------+--------+------------------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|competitorId|   competitorName|firstName|   lastName|status|gender|countryOfOriginCode|countryOfOriginName|regionId|        regionName|affiliateId|       affiliateName|age|height|weight|overallRank|overallScore|genderId|year|
+------------+-----------------+---------+-----------+------+------+-------------------+-------------------+--------+------------------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
|      469656|    Jeffrey Adler|  Jeffrey|      Adler|   ACT|     M|                 CA|             Canada|      35|North America East|      18059| CrossFit Wonderland| 29| 69 in|197 lb|          1|         107|       1|2023|
|      300638|   Tola Morakinyo|     Tola|  Morakinyo|   ACT|     M|                 US|      United States|      35|North America East|      19593|CrossFit East Nas...| 27| 72 in|212 lb|          2|         219|       1|2023|
|      676693|   Colten Mertens|   Colten|    Mertens|   ACT|     M|                 US|      United States|      34|North America West|       1324|       CrossFit Kilo| 25| 64 in|180 lb|          3|         367|       1|2023|
|      663689|Tyler Christophel|    Tyler|Christophel|   ACT|     M|                 US|      United States|      35|North America East|       3220|     CrossFit Mayhem| 33| 70 in|195 lb|          4|         375|       1|2023|
|     1031875|  Roldan Goldbaum|   Roldan|   Goldbaum|   ACT|     M|                 MX|             Mexico|      34|North America West|      21264|Strong Suit CrossFit| 23|170 cm| 86 kg|          5|         526|       1|2023|
|      327636| Samuel Cournoyer|   Samuel|  Cournoyer|   ACT|     M|                 CA|             Canada|      35|North America East|      28908|CrossFit ADM Chambly| 27|180 cm|205 lb|          6|         619|       1|2023|
|       40955|     Ricky Garard|    Ricky|     Garard|   ACT|     M|                 AU|          Australia|      32|           Oceania|       9286|Fitness Alley Cro...| 29|179 cm|205 lb|          7|         633|       1|2023|
|      671093|    Dallin Pepper|   Dallin|     Pepper|   ACT|     M|                 US|      United States|      35|North America East|       1893|     CrossFit Naples| 21| 72 in|215 lb|          8|         656|       1|2023|
|      945268|      Reggie Fasa|   Reggie|       Fasa|   ACT|     M|                 GB|     United Kingdom|      29|            Europe|      16754|CrossFit Chester ...| 28|174 cm| 93 kg|          9|         668|       1|2023|
|      642094|     Cam Crockett|      Cam|   Crockett|   ACT|     M|                 US|      United States|      35|North America East|       3637|      CrossFit Cadre| 25| 69 in|195 lb|         10|         679|       1|2023|
|      947291|  Austin Hatfield|   Austin|   Hatfield|   ACT|     M|                 US|      United States|      35|North America East|       None|                null| 23| 66 in|195 lb|         11|         734|       1|2023|
|      843041|      Nick Mathew|     Nick|     Mathew|   ACT|     M|                 US|      United States|      34|North America West|      14452| CrossFit Minnetonka| 29| 69 in|200 lb|         12|         778|       1|2023|
|      156156|       Jay Crouch|      Jay|     Crouch|   ACT|     M|                 AU|          Australia|      32|           Oceania|       1348|Reebok CrossFit F...| 24|175 cm| 85 kg|         13|         782|       1|2023|
|       20698|  Timothy Paulson|  Timothy|    Paulson|   ACT|     M|                 US|      United States|      35|North America East|      19593|CrossFit East Nas...| 33| 73 in|215 lb|         14|         797|       1|2023|
|     1135386|       Aniol Ekai|    Aniol|       Ekai|   ACT|     M|                 ES|              Spain|      29|            Europe|      17272|    CrossFit Zarautz| 26|187 cm| 89 kg|         15|         905|       1|2023|
|      822789|    Alex Kotoulas|     Alex|   Kotoulas|   ACT|     M|                 GR|             Greece|      29|            Europe|       None|                null| 30|172 cm| 83 kg|         16|         922|       1|2023|
|      975774| Roman Khrennikov|    Roman| Khrennikov|   ACT|     M|                 US|      United States|      35|North America East|       3220|     CrossFit Mayhem| 28|182 cm|103 kg|         17|         935|       1|2023|
|     1996260| Alexander Majors|Alexander|     Majors|   ACT|     M|                 US|      United States|      35|North America East|      16832|    CrossFit Polaris| 25|  null|  null|         18|         951|       1|2023|
|     1529807|    Travon Benton|   Travon|     Benton|   ACT|     M|                 US|      United States|      34|North America West|       8059|       Fogo CrossFit| 27| 68 in|195 lb|         19|         976|       1|2023|
|     1934516| William Leahy IV|  William|   Leahy IV|   ACT|     M|                 US|      United States|      34|North America West|       5222| CrossFit Mandeville| 22| 71 in|195 lb|         20|         991|       1|2023|
+------------+-----------------+---------+-----------+------+------+-------------------+-------------------+--------+------------------+-----------+--------------------+---+------+------+-----------+------------+--------+----+
only showing top 20 rows

In [7]:
spark.sql("CREATE TABLE IF NOT EXISTS df_open_lesson5 AS SELECT * FROM csv_open;").show()

25/03/04 12:25:57 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);
'CreateTable `default`.`df_open_lesson5`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, Ignore
+- Project [competitorId#169, competitorName#170, firstName#171, lastName#172, status#173, gender#174, countryOfOriginCode#175, countryOfOriginName#176, regionId#177, regionName#178, affiliateId#179, affiliateName#180, age#181, height#182, weight#183, overallRank#184, overallScore#185, genderId#186, year#187]
   +- SubqueryAlias csv_open
      +- View (`csv_open`, [competitorId#169,competitorName#170,firstName#171,lastName#172,status#173,gender#174,countryOfOriginCode#175,countryOfOriginName#176,regionId#177,regionName#178,affiliateId#179,affiliateName#180,age#181,height#182,weight#183,overallRank#184,overallScore#185,genderId#186,year#187])
         +- Relation [competitorId#169,competitorName#170,firstName#171,lastName#172,status#173,gender#174,countryOfOriginCode#175,countryOfOriginName#176,regionId#177,regionName#178,affiliateId#179,affiliateName#180,age#181,height#182,weight#183,overallRank#184,overallScore#185,genderId#186,year#187] csv